@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Gotu&display=swap');

body main {
    font-family: "Gentium Basic", serif;
}

h1, h2 {
    font-family: "Gotu", sans-serif;
}

blockquote {
    overflow-wrap: break-word;
}
